df-messenger {
     --df-messenger-bot-message: #562fbe;
     --df-messenger-button-titlebar-color: #562fbe;
     --df-messenger-chat-background-color: #EEE9F8;
     --df-messenger-font-color: #EEE9F8;
     --df-messenger-send-icon: #562fbe;
     --df-messenger-user-message:#090250;
    }